@import "bootstrap";
@import "bootstrap-sprockets";

/* === UNIVERSAL === */

body {
  padding-top: 60px;
  /* navbar cao */
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* === CENTER CLASS === */

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* === LOGO === */

#logo {
  color: #fff !important;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* === HEADER NAVBAR === */

header.navbar {
  background-color: #222;
  border-bottom: 1px solid #080808;
  margin-bottom: 20px;
  min-height: 50px;
}

/* === NAVBAR LINK === */

.navbar-nav>li>a {
  color: #fff !important;
  padding: 15px 10px;
}

.navbar-nav>li>a:hover {
  text-decoration: underline;
}

/* === NAV LAYOUT === */

nav {
  float: right;
}

.navbar .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.dropdown-menu {
  display: none;
}

.dropdown-menu.active {
  display: block;
}

/* === REMEMBER ME CHECKBOX === */

.checkbox {
  margin-bottom: 10px;
  margin-top: 10px;

  span {
    font-weight: normal;
    margin-left: 20px;
  }
}

#session_remember_me {
  margin-left: 0;
  width: auto;
}

/* Users index */
.users {
  list-style: none;
  margin-top: 5em;
  padding-top: 0;

  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
